.container{
  text-align: center;
}

#linkedin, #googleplus, #facebook, #github{
  width: 40px;
  height: 40px;
}

#photo{
  width: 60px;
  height: 60px;
}

#header{
  font-weight: bold;
  font-size: 20px;
}

#bio{
  font-weight: bold;
  font-size: 12px;
}
